*{
    margin: 0px;
    padding: 0px;
}
body{
    scroll-behavior: smooth;
}
.header{
    background-image: url("../pictures/442453.jpg");
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: rgb(23, 24, 44, 0.6);
    background-size: cover;
    background-blend-mode: multiply;
    flex-wrap: wrap;
}
.header h1{
    font-size: 6vw;
    color: rgb(226, 226, 218);
    padding: 10px;
    font-family: sans-serif;

}
.header p{
    font-size: large;
    color: aliceblue;
}
.hr{
    max-width: 85vw;
    margin: auto;
    margin-top: 5px;
    
}
.nav {
    display: flex;
    max-width: 85vw;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.left ul li{
    display: flex;
    gap: 3vw;
}
.left ul, .right ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}
.left ul a{
    padding: 8px 4px;
    font-size: large;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: 30;
    
}
.right ul li{
    
    border-radius: 25%;
    padding: 3px 3px 0px 3px;
    

    
}
.right ul li:hover{
    background-color: rgb(210, 210, 214);
    
}
.left a:hover{
    background-color: rgb(78, 77, 77);color: white;
}

.contents{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    /* background: rgba(6, 19, 113, 0.5) url("../pictures/depositphotos_91038104-stock-illustration-vector-modern-seamless-sacred-geometry.jpg"); */
    /* background-blend-mode: darken; */
    background-color: rgb(229, 229, 229);
    /* border: 0.5px solid rgb(1, 1, 137); */
    padding: 12px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    display: flex;
    align-items: center;
 /* padding: 8px; */
 margin-bottom: 20px;
 background-color: rgba(255, 254, 254 );
 border: 0.5px solid rgb(230, 230, 231);
}
.info{
    padding: 10px;
    width: 50%;
}
.rev_cont{
    display: flex;
    flex-direction: row-reverse;
}
.contents hr{
   width: 30vw; 
}
.vl{
    height: 30vw;
    border: 6px solid red;
}
.content img{
    /* height: 300px; */
    width: 45%;
    border: 1px solid rgb(209, 209, 209);
    max-width: 300px;
    
}
.aboutme{
    max-width: 80vw;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 30vw 0 0 30vw;
    background-color: rgb(235, 235, 236);
}
.aboutme img{
    max-width:  450px; ;
    max-height: 450px;
    width: 25vw;
    height: 25vw;
    min-width: 170px;
    min-height: 170px;
    /* border: 2px solid white; */
    border-radius: 50% ;
    object-fit: cover;
}
.aboutme-text{
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutme-text h3{
    font-size: 3vw;
    font-weight: 70;

}
.aboutme-text p{
    font-size: 2vw;
    font-weight: 40;
}
.contact{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 60px;
    background-color: rgb(232, 230, 230);
    padding-bottom: 100px;
}
.contact h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:lighter;
    margin-top: 20px;

}
.contact input{
    padding: 5px;
    width: 40vw;
    min-width: 260px;
    outline-width: 2px ;
    outline-color: rgb(87, 146, 255);
}
.contact textarea{
    padding: 5px;
    width: 40vw;
    min-width: 260px;
    outline-width: 2px ;
    outline-color: rgb(87, 146, 255);
    resize: none;
}
.contact button{
    width: 20vw;
    background-color: rgb(7, 242, 7);
    border: 1px solid rgb(0, 132, 0);
    min-width: 130px;
    padding: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px ;
}
.contact button:hover{
    background-color: rgb(23, 232, 23);
}
.hr1{
    width: 30vw;
    margin: auto;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    min-width: 260px ;
}
.hr1 hr{
    margin-top: 5px;
}
@media only screen and (max-width: 742px) {
    .content{
        flex-direction: column;
    }
    .info{
        width: 85%;
    }
    .content img{
        width: 100%;
        max-width: 100%;
        height: auto;
        background-size: cover;
        
    }
    .header h1{
        font-size: 30px;
    }
    .info h1 {
        font-size: 20px;

    }
    .info p{
        font-size: 13px;
    }
    .aboutme-text p{
        font-size: 13px;
    }
    .aboutme-text h3{
        font-size: 20px;
    }
  }
  @media only screen and (max-width: 340px){
    .aboutme{
        flex-direction: column;
        border-radius: 50vw 50vw 0 0 ;
        max-width: 175px;
    
  }
  .aboutme-text{
    max-width: 200px;
    padding: 2px;
  }
}
  
